@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*IMPORTAÇÃO DE FONTA - GOOGLE FONTS*/


:root {
    --main-color: #000000; 
    --second-color: #f6f6f6;
    --third-color: #22D4FD;

    --hover-color: #272727;

    --main-font: 'Krona One', sans-serif;
    --second-font: 'Montserrat', sans-serif;
}

/*-----------------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------*/

body{
    box-sizing: border-box;
    background-color: var(--main-color);
    color: var(--second-color);
}

/*-----------------------------------------------------------*/

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.cabecalho__menu__link {
    color: var(--third-color);

    font-size: 1.25rem;
    text-decoration: none;
    font-family: var(--second-font);
}

.cabecalho__menu__link:hover {
    color: var(--second-color);
}

/*-----------------------------------------------------------*/

strong {
    color: var(--third-color);
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.apresentacao__conteudo {
    max-width: 50%;

    display: flex;
    flex-direction: column;

    gap: 60px;  /*GAP funcionou dps da aplicação da FlexBox*/
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--main-font);
}

.apresentacao__conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--second-font);
    text-align: justify;
    text-justify: auto;
}

/*-----------------------------------------------------------*/

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}

.apresentacao__conteudo__links__navegacao {
    color: var(--second-color);
    border: 2px solid var(--third-color);

    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--second-font);

    border-radius: 8px;
    width: 100%;
    padding: 21.5px 0;  /*AQUI DEFINIMOS O PADDING DA VERTICAL E DPS DA HORIZONTAL*/

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.apresentacao__conteudo__links__link:hover {    
    background-color: var(--hover-color);
}

strong:hover {         /* :hover -> SERVE PARA MODIFICAR O BOTÃO QUANDO O CURSOR PASSA POR CIMA */
    background-color: var(--hover-color);
}

.apresentacao__conteudo__links__subtitulo {
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__imagem {
    width: 50%;
}

/*-----------------------------------------------------------*/

.rodape {
    background-color: var(--third-color);
    color: var(--main-color);
    
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    font-family: var(--second-font);

    padding: 1.5rem;
}

/* 
O @media é uma regra CSS que nos permite aplicar estilos diferentes com base nas características do dispositivo que está sendo usado para visualizar a página 
Quando você usa @media (max-width: 1200px), você está dizendo: "Se a largura da tela for de no máximo 1200 pixels, aplique os estilos que estão dentro deste bloco de código".
Quanto mais media queries bem planejadas você tiver, mais responsiva e adaptável sua aplicação será para os diversos dispositivos que a acessam.
*/

@media (max-width: 1200px) { 

    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;  /* Inverte a ordem de Imagem/Texto */
    }

}